.scan{
    background: #393939;
    height:100vh;
    width:100vw;
    display:flex;
    align-items: flex-end;
}
.scan h2{
    margin: 0;
}
.scan_container{
    width: 100%;
    height: 98vh;
    background: #fff;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cedula_posterior{
    width: 400px;
    height: 140px;
    border-radius: 4px;
    border: 2px solid #5fddbf;
}
.cedula_posterior figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cedula_posterior figure, .cedula_posterior figure img{
    height:90%;
    object-fit: cover;
}
.scan_container-title{
    
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #004777;
    font-size: 16px;
    text-transform: uppercase;
}
.scan_container-relative{
    position: relative;
    margin: 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;

}
.scan_container-absolute{
    position: absolute;
    width: 400px;
    height: 140px;
    opacity: 0;
}
.andes_img img{
    width: 300px;
}
.scan_container-relative label{
    font-size:14px;
    color: #004777;
}
.button_next-disable{
    display: none;
}
.button_next{
    display: flex
}

.button_next-enable{
    padding: 8px 40px;
    background: #004777;
    color: #fff;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.UpIdk{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #004777;
    z-index: 3890132809132809132809132809132809;
}
.none{
    display: none;
}

@media(max-width:768px){
    .andes_img img{
        width: 200px;
    }
    .cedula_posterior{
        width: 270px;
    }
}
@media(max-width:320px){
.scan{
        overflow-x: hidden;
}
}